# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

.vs/
.vscode/

# Ignore the TypeScript compiler's output.
/built/gather_stats.js

# Ignore installed packages.
/node_modules/

# Ignore secret credentials.
/.env
