# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Disable CRLF-mapping for all files.
* -text

# Ensure GitHub detects our C++ code as C++ code.
/stl/inc/** linguist-language=C++
/stl/src/** linguist-language=C++
