# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "boost-math"]
	path = boost-math
	url = https://github.com/boostorg/math.git
[submodule "benchmarks/google-benchmark"]
	path = benchmarks/google-benchmark
	url = https://github.com/google/benchmark.git
