# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Build STL targeting x86, x64, arm, arm64

variables:
  tmpDir: 'D:\Temp'
  buildOutputLocation: 'D:\build'
  benchmarkBuildOutputLocation: 'D:\benchmark'

pr:
  drafts: false

extends:
  template: azure-devops/pool.yml

stages:
  - stage: Code_Format
    displayName: 'Code Format'
    jobs:
      - template: azure-devops/format-validation.yml

  - stage: Build_And_Test_x64
    dependsOn: Code_Format
    displayName: 'Build and Test'
    jobs:
      - template: azure-devops/native-build-test.yml
        parameters:
          targetPlatform: x64
          vsDevCmdArch: amd64

  - stage: Build_And_Test_x86
    dependsOn: Build_And_Test_x64
    displayName: 'Build and Test'
    jobs:
      - template: azure-devops/native-build-test.yml
        parameters:
          targetPlatform: x86
          vsDevCmdArch: x86

  - stage: Build_ARM
    dependsOn: Build_And_Test_x64
    displayName: 'Build'
    jobs:
      - template: azure-devops/cross-build.yml
        parameters:
          targetPlatform: arm
          vsDevCmdArch: arm
          benchmarkBuildOutputLocationVar: ''

  - stage: Build_ARM64
    dependsOn: Build_And_Test_x64
    displayName: 'Build'
    jobs:
      - template: azure-devops/cross-build.yml
        parameters:
          targetPlatform: arm64
          vsDevCmdArch: arm64
