# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Build STL targeting x86, x64, arm64, arm64ec

variables:
  - template: azure-devops/config.yml

pr:
  drafts: false

stages:
  - stage: Test_ARM64EC
    dependsOn: []
    displayName: 'Test ARM64EC'
    pool:
      name: ${{ variables.arm64PoolName }}
      demands: ${{ variables.poolDemands }}
    jobs:
      - template: azure-devops/build-and-test.yml
        parameters:
          hostArch: arm64
          targetArch: arm64
          targetPlatform: arm64ec
          numShards: 10
