# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# Build STL targeting x86, x64, arm, arm64

variables:
  tmpDir: 'D:\Temp'
  buildOutputLocation: 'D:\build'

pool: 'StlBuild-2022-02-08-T1334'

stages:
  - stage: Code_Format
    displayName: 'Code Format'
    jobs:
      - job: Code_Format_Validation
        timeoutInMinutes: 90
        displayName: 'Validation'
        variables:
          buildOutputLocation: 'D:\tools'
        steps:
          - script: |
              if exist "$(tmpDir)" (
                rmdir /S /Q $(tmpDir)
              )
              mkdir $(tmpDir)
            displayName: 'Setup TMP Directory'
          - checkout: self
            clean: true
            submodules: false
          - script: |
              if exist "$(buildOutputLocation)" (
                rmdir /S /Q "$(buildOutputLocation)"
              )
              call "%ProgramFiles%\Microsoft Visual Studio\2022\Preview\Common7\Tools\VsDevCmd.bat" ^
              -host_arch=amd64 -arch=amd64 -no_logo
              cmake -G Ninja -DCMAKE_CXX_COMPILER=cl -DCMAKE_BUILD_TYPE=Release ^
              -S $(Build.SourcesDirectory)\tools -B $(buildOutputLocation)
              cmake --build $(buildOutputLocation)
            displayName: 'Build Support Tools'
            env: { TMP: $(tmpDir), TEMP: $(tmpDir) }
          - task: BatchScript@1
            displayName: 'Enforce clang-format'
            timeoutInMinutes: 60
            condition: succeededOrFailed()
            inputs:
              filename: 'azure-devops/enforce-clang-format.cmd'
              failOnStandardError: true
              arguments: '$(buildOutputLocation)/parallelize/parallelize.exe'
            env: { TMP: $(tmpDir), TEMP: $(tmpDir) }
          - task: BatchScript@1
            displayName: 'Validate Files'
            timeoutInMinutes: 2
            condition: succeededOrFailed()
            inputs:
              filename: 'azure-devops/validate-files.cmd'
              failOnStandardError: true
              arguments: '$(buildOutputLocation)/validate/validate.exe'
            env: { TMP: $(tmpDir), TEMP: $(tmpDir) }

  - stage: Build_And_Test_x64
    dependsOn: Code_Format
    displayName: 'Build and Test'
    jobs:
      - template: azure-devops/native-build-test.yml
        parameters:
          targetPlatform: x64
          vsDevCmdArch: amd64

  - stage: Build_And_Test_x86
    dependsOn: Build_And_Test_x64
    displayName: 'Build and Test'
    jobs:
      - template: azure-devops/native-build-test.yml
        parameters:
          targetPlatform: x86
          vsDevCmdArch: x86

  - stage: Build_ARM
    dependsOn: Build_And_Test_x64
    displayName: 'Build'
    jobs:
      - template: azure-devops/cross-build.yml
        parameters:
          targetPlatform: arm
          vsDevCmdArch: arm

  - stage: Build_ARM64
    dependsOn: Build_And_Test_x64
    displayName: 'Build'
    jobs:
      - template: azure-devops/cross-build.yml
        parameters:
          targetPlatform: arm64
          vsDevCmdArch: arm64
