# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

parameters:
- name: hostArch
  type: string
- name: targetArch
  type: string
- name: targetPlatform
  type: string
- name: analyzeBuild
  type: boolean
- name: asanBuild
  type: boolean
- name: configureTesting
  type: boolean
- name: buildStl
  type: boolean
- name: testsBuildOnly
  type: boolean
- name: litFlags
  type: object
  default:
    - '--xunit-xml-output=$(buildOutputLocation)/test-results.xml'
    - '--order=lexical'
    - '--num-shards=$(System.TotalJobsInPhase)'
    - '--run-shard=$(System.JobPositionInPhase)'

steps:
- task: PowerShell@2
  displayName: 'Configure STL'
  inputs:
    pwsh: true
    targetType: inline
    script: |
      $PSNativeCommandUseErrorActionPreference = $true
      if (Test-Path -LiteralPath "$(buildOutputLocation)") {
          Remove-Item -LiteralPath "$(buildOutputLocation)" -Recurse -Force
      }
      & "$(launchVsDevShell)" -HostArch ${{ parameters.hostArch }} -Arch ${{ parameters.targetArch }}
      cmake -G Ninja `
      -DCMAKE_CXX_COMPILER=cl `
      -DCMAKE_BUILD_TYPE=Release `
      -DLIT_FLAGS="${{ join(';', parameters.litFlags) }}" `
      -DSTL_USE_ANALYZE=${{ parameters.analyzeBuild }} `
      -DSTL_ASAN_BUILD=${{ parameters.asanBuild }} `
      -DCONFIGURE_TESTING=${{ parameters.configureTesting }} `
      -DTESTS_BUILD_ONLY=${{ parameters.testsBuildOnly }} `
      -DVCLIBS_TARGET_ARCHITECTURE=${{ parameters.targetPlatform }} `
      -S $(Build.SourcesDirectory) -B "$(buildOutputLocation)"
  timeoutInMinutes: 2
  env: { TMP: $(tmpDir), TEMP: $(tmpDir) }
- task: PowerShell@2
  displayName: 'Build STL'
  inputs:
    pwsh: true
    targetType: inline
    script: |
      $PSNativeCommandUseErrorActionPreference = $true
      & "$(launchVsDevShell)" -HostArch ${{ parameters.hostArch }} -Arch ${{ parameters.targetArch }}
      cmake --build "$(buildOutputLocation)"
  timeoutInMinutes: 5
  condition: and(succeeded(), ${{ parameters.buildStl }})
  env: { TMP: $(tmpDir), TEMP: $(tmpDir) }
