# Copyright (c) Microsoft Corporation.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

# We don't ship the Unicode data source files, but
# they can be downloaded from unicode.org.
# See the documentation in each script for more info.
emoji-data.txt
DerivedCoreProperties.txt
DerivedGeneralCategory.txt
GraphemeBreakProperty.txt
GraphemeBreakTest.txt
